/*
 * EN: This file has been prepared for you to add your personal CSS styles
 * IT: Questo file è stato predisposto per accogliere regole CSS personalizzate
 */
 
 /*** Welcome box ***/
#welcomeInfo {
    height: 100%;
    overflow: auto;
}
#welcomeInfo_content_bottom {
    position: relative;
}
.dialog .title.main {
    height: auto;
}
.dialog .content ul {
    padding-left: 18px;
    margin-bottom: 15px;
}
.dialog .content ul li {
    list-style: initial;
}
.dialog .content p {
    margin-bottom: 15px;
}

/*** Inline notes ***/
.popup.image,
#front_cont .front > .title.original {
    display: none;
}
#headerInfo_box_tabs .title {
    display: inline-block;
}

/*** Thumbnails ***/
#thumb_cont figure figcaption {
    font-size: 17px;
    word-break: break-all;
}

/*** Additions and deletions ***/
span[data-tagname = "del"][data-rend = "strikethrough"] {
    background-color: transparent;
    text-decoration: line-through;
}
span[data-tagname = "add"][data-rend = "underline"] {
    background-color: transparent;
    text-decoration: underline;
}
span.dipl-add,
span[data-tagname = "add"][data-rend = "pencil"] {
    background-color: #bdecb6;
}
span[data-tagname = "add"][data-rend = "ink"] {
    background-color: #d8d8d8;
}
span[data-tagname = "add"][data-rend = "red"] {
    background-color: #ffa5a5;
}

/*** Catnum ***/
.catnum + * {
    display: inline;
}
.catnum:before {
    content: '';
    display: block;
    margin-top: 25px;
}

/*** Selectors ***/
.option_container.up,
.main_list_select {
    min-width: 130px !important;
}
.option_container.up {
    overflow-x: hidden;
}
.option_container.up .groupTitle {
    display: inline-block;
    overflow: visible;
    line-height: 1.15;
}
.like_select .groupTitle,
.like_select .option {
    line-height: 22px;
}
    
/* Place names */
.option[data-value = "placeName"] .filter_color {
    color: red;
}
.doc.current .placeName.no-info.list_active,
.doc.current .placeName.no-info:hover,
.doc.current .placeName.list_active span.trigger,
.doc.current .placeName:hover > span.trigger,
.doc.current .placeName.opened > span.trigger {
    background-color: red!important;
}

/* Bibl */
.bibl-selector {
    display: inline;
    font-size: 100%;
    margin: 0;
}
.bibl-selector:hover
.bibl-selector.list_active {
    background-color: #5593dc;
}
.option[data-value = "bibl"] .filter_color {
    color: #5593dc;
}

/* Materials */
.material-selector:hover,
.material-selector.list_active {
    background-color: #e982e3;
}
.option[data-value = "material"] .filter_color {
    color: #e982e3;
}

/* Labels */
.label-selector:hover,
.label-selector.list_active {
    background-color: #8cdbda;
}
.option[data-value = "label"] .filter_color {
    color: #8cdbda;
}

/* Dates */
.doc.current span.date.list_active,
.doc.current span.date:hover,
.doc.current span.date.list_active span.trigger,
.doc.current span.date.over > span.trigger,
.doc.current span.date.opened > span.trigger {
    background-color: #77ab9e;
}
.option[data-value = "date"] .filter_color {
    color: #77ab9e;
}

/** Measure **/
.option[data-value = "measure"] .filter_color {
    color: #E8E674;
}
.doc.current .measure.no-info:hover,
.doc.current .measure.no-info:hover span.trigger,
.doc.current .measure.no-info.list_active,
.doc.current .measure.no-info.list_active span.trigger {
    background-color: #E8E674;
}
/* Measure quantity */
.option[data-value = "measure"][data-type="quantity"] .filter_color {
    /* color: #CFA2EF; */
    color: #ffd700;
}
.doc.current .measure[data-type="quantity"]:hover,
.doc.current .measure[data-type="quantity"]:hover span.trigger,
.doc.current .measure[data-type="quantity"].list_active,
.doc.current .measure[data-type="quantity"].list_active span.trigger,
.doc.current .measure[data-type="quantity"].opened span.trigger {
    background-color: #ffd700
}
/* Measure sizeWeight */
.option[data-value = "measure"][data-type="sizeWeight"] .filter_color {
    color: #98cc0f;
}
.doc.current .measure[data-type="sizeWeight"]:hover,
.doc.current .measure[data-type="sizeWeight"]:hover span.trigger,
.doc.current .measure[data-type="sizeWeight"].list_active,
.doc.current .measure[data-type="sizeWeight"].list_active span.trigger,
.doc.current .measure[data-type="sizeWeight"].opened span.trigger {
    background-color: #98cc0f;
}
/* Measure state */
.option[data-value = "measure"][data-type="state"] .filter_color {
    color: #e5cba4;
}
.doc.current .measure[data-type="state"]:hover,
.doc.current .measure[data-type="state"]:hover span.trigger,
.doc.current .measure[data-type="state"].list_active,
.doc.current .measure[data-type="state"].list_active span.trigger,
.doc.current .measure[data-type="state"].opened span.trigger {
    background-color: #e5cba4;
}
/* Measure format */
.option[data-value = "measure"][data-type="format"] .filter_color {
    color: #e8994e;
}
.doc.current .measure[data-type="duodecimo"]:hover,
.doc.current .measure[data-type="duodecimo"]:hover span.trigger,
.doc.current .measure[data-type="duodecimo"].list_active,
.doc.current .measure[data-type="duodecimo"].list_active span.trigger,
.doc.current .measure[data-type="duodecimo"].opened span.trigger,
.doc.current .measure[data-type="octavo"]:hover,
.doc.current .measure[data-type="octavo"]:hover span.trigger,
.doc.current .measure[data-type="octavo"].list_active,
.doc.current .measure[data-type="octavo"].list_active span.trigger,
.doc.current .measure[data-type="octavo"].opened span.trigger,
.doc.current .measure[data-type="folio"]:hover,
.doc.current .measure[data-type="folio"]:hover span.trigger,
.doc.current .measure[data-type="folio"].list_active,
.doc.current .measure[data-type="folio"].list_active span.trigger,
.doc.current .measure[data-type="folio"].opened span.trigger,
.doc.current .measure[data-type="quarto"]:hover,
.doc.current .measure[data-type="quarto"]:hover span.trigger,
.doc.current .measure[data-type="quarto"].list_active,
.doc.current .measure[data-type="quarto"].list_active span.trigger,
.doc.current .measure[data-type="quarto"].opened span.trigger {
    background-color: #e8994e;
}

/** Notes **/
span.note {
    display: inline;
}
/*  Note colour */
.option[data-value = "note"][data-type="colour"] .filter_color {
    color: #c4e5ef;
}
.doc.current .note[data-type="colour"]:hover,
.doc.current .note[data-type="colour"]:hover span.trigger,
.doc.current .note[data-type="colour"].list_active,
.doc.current .note[data-type="colour"].list_active span.trigger,
.doc.current .note[data-type="colour"].opened span.trigger {
    background-color: #c4e5ef;
}
/*  Note texture */
.option[data-value = "note"][data-type="texture"] .filter_color {
    color: #7fb5cb;
}
.doc.current .note[data-type="texture"]:hover,
.doc.current .note[data-type="texture"]:hover span.trigger,
.doc.current .note[data-type="texture"].list_active,
.doc.current .note[data-type="texture"].list_active span.trigger,
.doc.current .note[data-type="texture"].opened span.trigger {
    background-color: #7fb5cb;
}
/*  Note value */
.option[data-value = "note"][data-type="value"] .filter_color {
    color: #80bafd;
}
.doc.current .note[data-type="value"]:hover,
.doc.current .note[data-type="value"]:hover span.trigger,
.doc.current .note[data-type="value"].list_active,
.doc.current .note[data-type="value"].list_active span.trigger,
.doc.current .note[data-type="value"].opened span.trigger {
    background-color: #80bafd;
}